.popup__closebtn {
    position: absolute;
    height: 40px;
    width: 40px;
    right: -30px;
    top: -30px;
    background-image: url(../../../images/Close_Icon.svg);
    background-size: cover;
    border: 0;
    background-color: rgba(0, 0, 0, .0);
    outline: none;
    padding: 0;
}